td,
th {
    padding: 0.75rem;
    border-radius: 1rem;
}

td {
    font-weight: lighter;
    color: gray;
}

td:not(:first-child) {
    text-align: center;
}

thead {

    color: white;
}

tr:nth-child(even) {
    background-color: var(--gray);
}

thead tr {
    background-color: #000437;
}